/// Section: Layout
//  ======================================================================
html {
  height: 100vh;
  scroll-behavior: smooth;
  width: 100vw;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

html {
  //position: relative;
  overflow-x: hidden;

  &:before {
    background: $color-secondary;
    box-shadow: 0 0.1875rem 0 rgba($color-dark-gray, 0.1);
    content: '';
    display: block;
    height: 0.5rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

body {
  background: #fff;
  padding: 1.5rem;
}
@media screen and (min-width: 64rem) {
  body {
    padding: 3rem;
  }
}

.container {
  align-content: center;
  justify-content: center;
  display: grid;
  gap: 1.5rem 1rem;
  grid-template-areas: 'header header header header header'
                       'main main main main main'
                       'sidebar sidebar sidebar sidebar sidebar'
                       'footer footer footer footer footer';
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  max-width: none;
}
@media screen and (min-width: 64rem) {
  .container {
    gap: 3rem 1rem;
    grid-template-areas: 'header header header header header'
                         'main main main sidebar sidebar'
                         'footer footer footer footer footer';
    max-width: 90rem;
  }
}
/// Subsection: Banner
//  ======================================================================
.banner {
  display: grid;
  gap: 1.5rem 1rem;
  grid-area: header;
  grid-template-areas: 'logo title'
                       'menu menu';
  grid-template-columns: 5.5rem 1fr;//5.5rem repeat(2, 1fr);
  grid-template-rows: 5rem 1fr;//repeat(3, 1fr);
  margin-bottom: 0;
}
.banner__title {
  align-self: center;
}
@media screen and (min-width: 64rem) {
  .banner {
    grid-template-columns: 8rem 1fr;
    grid-template-rows: 1fr auto;
  }
}

.menu-main {
  grid-area: menu;
}
.menu-main__items {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-main__item {
  flex-basis: 100%;
  flex-grow: 1;
  margin-bottom: 0.75rem;

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 64rem) {
  .menu-main__items {
    flex-wrap: nowrap;
  }

  .menu-main__item {
    flex-basis: auto;
    margin-right: 0.5rem;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

/// Subsection: Main Content
//  ======================================================================
.content {
  grid-area: main;
}

/// Subsection: Resume Sections
//  ======================================================================
.resume-section {
  border-bottom: 0.125rem dotted $color-light-gray;
  margin-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.resume-section--profile {
  padding-top: 0;
}

/// Subsection: Sidebar
//  ======================================================================
.contact-info {
  grid-area: sidebar;
  width: 100%;
}

/// Subsection: Footer
//  ======================================================================
.copyright {
  grid-area: footer;
}
