/// Section: Menus
//  ======================================================================

.menu-main__link {
  background: transparent;
  //border-bottom: 0.125rem solid $color-primary;
  color: $color-secondary;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: 100%;

  &:after {
    background: $color-primary;
    bottom: 0;
    content: '';
    display: block;
    height: 0.125rem;
    opacity: 1;
    position: absolute;
    transform: scaleX(1);
    transform-origin: left;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }

  &:hover {
    &:after {
      opacity: 0;
      transform: scaleX(0);
    }
  }
  &:focus {
    background: #fff;
    outline: 0.125rem dotted $color-black;

    &:after {
      transform: scaleX(0);
    }
  }
}

// @media screen and (min-width: 64rem) {
//   .menu-main__link {
//     text-align: center;
//   }
// }
