/// Section: Settings
//  ======================================================================
$font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;

$colors: (
  primary: #7A568F,
  light-primary: #B59CC4,
  black: #1C1A17,
  dark-gray: #37332F,
  light-gray: #e5e3e1,
  white: #F1F0EF
);

$color-primary: map-get($colors, primary);
$color-light-primary: map-get($colors, light-primary);
$color-black: map-get($colors, black);
$color-dark-gray: map-get($colors, dark-gray);
$color-light-gray: map-get($colors, light-gray);
$color-white: map-get($colors, white);

// Font size settings for fluid type
$min_width: 20rem; // 320px
$max_width: 64rem; // 1024px
$min_font: 1rem;
$max_font: 1.25rem;
