/// Section: Settings
//  ======================================================================
$font-family: 'IBM Plex Sans Condensed', 'Arial Narrow', sans-serif;

/**
 * Playing with a new color scheme:
 * primary: #DC1846,
 * light-primary: #f65b7f,
 * dark-primary: #9e0f30,
 * secondary: #1E147C,
 * light-secondary: #4436bf,
 * dark-secondary: #140d52,
 * light-gray: #D7D7DF,
 * dark-gray: #49495B,
 * black: #01010C,
 * white: #E9E8F9
 */

$colors: (
  primary: #DC1846,
  light-primary: #f65b7f,
  dark-primary: #9e0f30,
  secondary: #1E147C,
  light-secondary: #4436bf,
  dark-secondary: #140d52,
  light-gray: #D7D7DF,
  dark-gray: #49495B,
  black: #01010C,
  white: #E9E8F9
);

$color-primary: map-get($colors, primary);
$color-light-primary: map-get($colors, light-primary);
$color-dark-primary: map-get($colors, dark-primary);
$color-secondary: map-get($colors, secondary);
$color-light-secondary: map-get($colors, light-secondary);
$color-dark-secondary: map-get($colors, dark-secondary);
$color-black: map-get($colors, black);
$color-dark-gray: map-get($colors, dark-gray);
$color-light-gray: map-get($colors, light-gray);
$color-white: map-get($colors, white);

// Font size settings for fluid type
$min_width: 20rem; // 320px
$max_width: 64rem; // 1024px
$min_font: 1rem;
$max_font: 1.25rem;
